* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.navlink {
    text-decoration: none;
    color: white;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.navbar_items {
    display: flex;
    align-items: center;
}

.nav_list_item {

    list-style: none;
    display: flex;
    margin: 0 !important;
    padding: 0 !important;

}

.nav_item {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 560;
    padding-right: 36px;
}

.nav_item::before {
    position: absolute;
    top: 25px;
    content: "";
    display: block;
    width: 60px;
    height: 25px;
    left: -5px;
}

.nav_item:hover {
    cursor: pointer;
}

.nav_item:hover>.list_item {
    padding: 10px 20px;
    height: auto;
    opacity: 1;
}

.navbar_logo img {
    width: 70px;
    height: 30px;
}

.navbar_actions {
    display: flex;
    align-items: center;
    position: relative;

}

.navbar_search {
    color: white;
}

.person {
    position: relative;

}

.person:hover>.person-item {
    height: auto;
    opacity: 1;
}

.person-item {
    position: absolute;
    top: 58px;
    right: 0;
    background-color: white;
    width: 20vw;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.person::before {
    position: absolute;
    top: 35px;
    content: "";
    display: block;
    width: 38px;
    height: 25px;
    left: 5px;
}

.person-item ul li {
    padding: 7px;
}

.list_item {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: -20px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
    background-color: white;

}
.nav_item:nth-last-child(-n+2) > .list_item{
left: -300px;
}

.list_item ul {
    flex: 1 1 25%;
    color: black;

}

.list_item li {
    padding: 10px;
}

.list_item li:hover {
    background-color: bisque;
}

.navbar_actions_btn {
    width: 50px;
    height: 45px;
    background-color: black;
    color: white;

}

.nav_search {
    position: absolute;
    color: white;
    left: 10px;

}

.navbar_actions button i {
    font-size: 20px;
}

.navbar_search {
    background-color: black;
    border: 1px solid white;
    width: 210px;
    height: 45px;
    text-align: center;
    margin-right: 6px;
    /* box-sizing: border-box; */
    padding: 0 0 0 30px;
}

.product {
    margin-top: 100px;
}

/* .slide {
    background-image: url(https://cdn.sanity.io/images/qa41whrn/prod/5bd5510dae2fae9a1191c83a4dc78f0a55afa8d1-1440x500.jpg?w=2160&q=80&auto=format);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 16px;
} */

.slide {
    margin-top: 70px;
    position: relative;
}

.slide-one {
    position: absolute;
    top: 160px;
    left: 40px;
}

.slide-two {
    background-image: url(https://cdn.sanity.io/images/qa41whrn/prod/892790d40d2521744da4681c6744a015e126c39b-1440x500.jpg?w=2160&q=80&auto=format);
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.slide_item {
    color: white;
}

.slide_list h3 {
    font-size: 30px;
    padding-bottom: 12px;

}

.slide_list p {
    font-size: 20px;
    padding-bottom: 24px;
}

.slide_btn {
    width: 140px;
    height: 40px;
    font-weight: 550;
}

.menu {
    margin-top: 100px;
}

.shopping_cart {
    margin-top: 70px;
}

.form_login {
    margin-top: 100px;

}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.admin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.admin-list {
    margin-top: 100px;
}
.form-register{
    width: 30%;
}
.form-login{
    width: 30%;
}